* {
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
	overflow-x: hidden;
	outline: none;
	padding: 0;
	margin: 0;
  }
  
  #navbar{
	background-color: black;
	height: 15vh;
	width: 100%;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	z-index:999;
  }


ul{
	display:grid;
	grid-template-columns: 1fr 3fr 0.5fr 0.5fr;
	grid-column-gap: 10px;
	width: 100%;
	list-style: none;
	align-items:center;
	text-align: center;
	transform: translateY(50%);
}

#home{
	grid-column: 1/2;
	font-size: 36;
	font-style: italic;
	font-weight: 900;
}


#search{
	grid-column: 2/3;
	height: 100%;
}
input{
    padding-left: 30px;
    height: 30px;

}
#search > input{
	background-color:#F6F6F6;
	width: 100%;
	height:100%;
	border: none;
	box-shadow: inset 0px -1px 0px #E2E2E2;
}

#login{
	grid-column: 3/4;
}
#signup{
	grid-column: 4/5;
}

#navbar a{
    text-decoration: none;
    color:  rgb(85, 173, 207);
}

#main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20vh auto;
    padding: 100px 0 0;
    
}

#variables{
    display: flex;
    flex-flow: row nowrap;
    grid-row: 1/2;
    grid-column:1/2;
    align-self: center;
}

.flex-elem{
    flex: 1;
    margin-left: 3em;
}
select{
    width: 100%;
}
#content{
    grid-row: 2/3;
    grid-column: 1/2;
    width: 70%;
    justify-self: center;
}

#info{
    background-color:  rgb(85, 173, 207);
    grid-row: 1/-1;
    grid-column:2/3;
    overflow-y: hidden;
    text-align: center;

}
#seating-container{
    display: grid;
    grid-template-columns: repeat(4, 0.8fr);
    grid-gap: 5px;
    grid-template-rows: repeat(4,1fr);
    justify-items: center;
    width: 95%;
    justify-content: space-around;
    border: 1px solid black;
    padding: 50px 10px;
    margin: 20px;
    text-align: center;
}

.small{
    background-color: green;
    height:50px;
    line-height: 50px;
    width: 50px;
}

.med{
    background-color: rgb(219, 186, 94);
    height: 70px;
    line-height: 70px;
    width: 70px;
    align-self: center;
}


.large{
    background-color: pink;
    height:60px;
    line-height: 60px;
    width:120px;
    align-self: center;
}

#small-1{
    grid-row:1/2;
    grid-column: 1/2;
}

#small-2{
    grid-row:4/5;
    grid-column: 1/2;
}
#small-3{
    grid-row:1/2;
    grid-column: 4/5;

}
#small-4{
    grid-row:4/5;
    grid-column: 4/5;
}

#med-1{
    grid-row: 1/2;
    grid-column: 2/3;
}
#med-2{
    grid-row:4/5;
    grid-column: 2/3;
}
#med-3{
    grid-row: 1/2;
    grid-column: 3/4;
}
#med-4{
    grid-row:4/5;
    grid-column: 3/4;
}

#large-1{
    grid-row: 2/4;
    grid-column: 2/3;
}
#large-2{
    grid-row:2/4;
    grid-column: 3/4;
}

#instructions-box{
    height: 5em;
    width:100%;
    margin: 50px 0 0;
}
#instructions{
    opacity: 0.8;
    font-size: 12;
}


.restaurant-img{
    width: 90%;
    height: auto;
    margin: 50px 0;
    object-fit: contain;
}

.rating-box{
	width:100%;
	height:2rem;
}
.checked {
	color: orange;
}

ul{
    list-style: none;
}

#text-box{
    position: relative;
    height: 100%;
}
#text-box > div{
    text-align: left;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#time-box{
    width: 85%;

}
#left{
    float:left;
}
#right{
    float:right;
}

.available{
    opacity: 1;
    color: rgb(85, 173, 207);
}

#table-container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 3em;
}

.seat{
    height:auto;
    float: left;
}