<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FlexiQueue</title>

    <script src="{{url_for('static', filename='beijing.js')}}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='beijing.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header id="navbar">
        <ul>
            <li id="home"><a href="index">FlexiQueue</a></li>
            <li id="search">
                <input type="text" placeholder="Enter a restaurant"></input>
            </li>
            <li id="login"><a href="login">Login</a></li>
            <li id="signup"><a href="signup">Sign Up</a></li>
        </ul>
    </header>


    <div id="main">
        <section id="variables">

            <div class="flex-elem">
                <p>Number of people</p><select id="pax" name="pax">
                    <option value="">2</option>
                    <option value="">4</option>
                    <option value="">6</option>
                </select>

            </div>
            <div class="flex-elem">
                <p>Time</p><select id="time" name="time">
                </select>

            </div>
            <div class="flex-elem">
                <p>Date</p><select id="date" name="date">
                </select>

            </div>
        </section>



        <section id="content">
            <div id="seating-container">
                <div class="small" id="small-1">1</div>
                <div class="small" id="small-2">2</div>
                <div class="small" id="small-3">9</div>
                <div class="small" id="small-4">10</div>

                <div class="med med-col1" id="med-1">3</div>
                <div class="med med-col1" id="med-2">5</div>
                <div class="med med-col2" id="med-3">6</div>
                <div class="med med-col2" id="med-4">8</div>

                <div class="large" id="large-1">4</div>
                <div class="large" id="large-2">7</div>

            </div>

            <table id="table-container">
                <tr>
                    <th>Seat Number</th>
                    <th>Taken by</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td><input type="checkbox" class="seat" id="seat-1" name="seat-1" value="1">1</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="seat" id="seat-2" name="seat-2" value="2">2</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="seat" id="seat-3" name="seat-3" value="3">3</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>
                <tr>
                    <td><input type="checkbox" class="seat" id="seat-4" name="seat-4" value="4">4</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="seat" id="seat-5" name="seat-5" value="5">5</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="seat" id="seat-6" name="seat-6" value="6">6</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="seat" id="seat-7" name="seat-7" value="7">7</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="seat" id="seat-8" name="seat-8" value="8">8</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="seat" id="seat-9" name="seat-9" value="9">9</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>

                <tr>
                    <td><input type="checkbox" class="seat" id="seat-10" name="seat-10" value="10">10</td>
                    <td>null</td>
                    <td><a class="available" href="">Book</a></td>
                    </td>
                </tr>
            </table>

            <div id="instructions-box">
                <p id="instructions">* Click on checkbox to select</p>
            </div>

        </section>

        <section id="info">
            <img class="restaurant-img" src="static/beijing.jpg" alt="">
            <div class="rating-box"><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <div id="text-box">
                <h2>Beijing Hotpot</h2>
                <p> 35, Bryan's St, Markham, M3Q 5BJ</p>
                <p>647-204-8892</p>
                <div id="time-box">
                    <div id="left">
                        <p>Monday</p>
                        <p>Tuesday</p>
                        <p>Wednesday</p>
                        <p>Thursday</p>
                        <p>Friday</p>
                        <p>Saturday</p>
                        <p>Sunday</p>
                    </div>
                    <div id="right">
                        <p>10am - 10pm</p>
                        <p>10am - 10pm</p>
                        <p>10am - 10pm</p>
                        <p>10am - 10pm</p>
                        <p>10am - 10pm</p>
                        <p> 10am - 11pm</p>
                        <p> 10am - 11pm</p>
                    </div>

                </div>


            </div>

        </section>
    </div>
</body>