<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FlexiQueue</title>

    <script src="{{url_for('static', filename='index.js')}}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daldongane.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header id="navbar" class="content">
        <ul>
            <li id="home">FlexiQueue</li>
            <li id="search">
                <input type="text" placeholder="Enter a restaurant"></input>
            </li>
            <li id="login">Login</li>
            <li id="signup">Sign Up</li>
        </ul>
    </header>


    <div id="main">
        <section id="variables">

            <div class="flex-elem">
                <p>Number of people</p><select id="pax" name="pax">
                    <option value="">2</option>
                    <option value="">4</option>
                    <option value="">6</option>
                </select>

            </div>
            <div class="flex-elem">
                <p>Time</p><select id="time" name="time">
                    <option value="">2</option>
                    <option value="">4</option>
                    <option value="">6</option>
                </select>

            </div>
            <div class="flex-elem">
                <p>Date</p><select id="date" name="date">
                    <option value=""></option>
                </select>

            </div>
        </section>



        <section id="content">
            <div id="seating-container">
                <div class="small" id="small-1">1</div>
                <div class="small" id="small-2">2</div>
                <div class="small" id="small-3">3</div>
                <div class="small" id="small-4">4</div>

                <div class="med med-col1" id="med-1">5</div>
                <div class="med med-col1" id="med-2">6</div>
                <div class="med med-col2" id="med-3">7</div>
                <div class="med med-col2" id="med-4">8</div>

                <div class="large" id="large-1">9</div>
                <div class="large" id="large-2">10</div>

            </div>

            <table id="table-container">
                <tr>
                    <th>Seat Number</th>
                    <th>Taken by</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>null</td>
                    <td><a href="">Book</a></td>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>null</td>
                    <td><a href="">Book</a></td>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>null</td>
                    <td><a href="">Book</a></td>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>null</td>
                    <td><a href="">Book</a></td>
                    </td>
                </tr>
            </table>

            <div>
                <p id="instructions">* Click on table to select</p>
                <button id="cfm-btn">Confirm</button>
            </div>

        </section>

        <section id="info">
            <img class="restaurant-img" src="static/daldongane.jpg" alt="">
            <div class="rating-box"><span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <div id="text-box">
                <h2>Daldongane KBBQ</h2>
                <p> 12, Younge St, North York, M4K 2S5</p>
                <p>647-234-134</p>
                <div>
                    <p>Monday &emsp; 12pm - 12am</p>

                    <p>Tuesday &emsp; 12pm - 12am</p>

                    <p>Wednesday &emsp; 12pm - 12am</p>

                    <p>Thursday &emsp; 12pm - 12am</p>

                    <p>Friday &emsp; 12pm - 12am</p>

                    <p>Saturday &emsp; 12pm - 2am</p>

                    <p>Sunday &emsp; 12pm - 2am</p>
                </div>


            </div>

        </section>
    </div>
</body>