<html lang="en">

<head>
    <meta charset="utf-8">

    <title>FlexiQueue</title>

    <script src="{{url_for('static', filename='index.js')}}"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='daldongane.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <header id="navbar" class="content">
        <ul>
            <li id="home">FlexiQueue</li>
            <li id="search">
                <input type="text" placeholder="Enter a restaurant"></input>
            </li>
            <li id="login">Login</li>
            <li id="signup">Sign Up</li>
        </ul>
    </header>

    <div>
        <div>
            <p>Number of people</p><select id="pax" name="pax">
                <option value="">2</option>
                <option value="">4</option>
                <option value="">6</option>
            </select>

        </div>
        <div>
            <p>Time</p><select id="time" name="time">
                <option value="">2</option>
                <option value="">4</option>
                <option value="">6</option>
            </select>

        </div>
        <div>
            <p>Date</p><select id="date" name="date">
                <option value=""></option>
            </select>

        </div>
    </div>

    <section id="main">
        <div id="seating-container">
            <div class="small" id="small-1"></div>
            <div class="small" id="small-2"></div>
            <div class="small" id="small-3"></div>
            <div class="small" id="small-4"></div>

            <div class="med med-col1" id="med-1"></div>
            <div class="med med-col1" id="med-2"></div>
            <div class="med med-col2" id="med-3"></div>
            <div class="med med-col2" id="med-4"></div>

            <div class="large" id="large-1"></div>
            <div class="large" id="large-2"></div>

        </div>

        <div>
            <p id="instructions">* Click on table to select</p>
            <button id="cfm-btn">Confirm</button>
        </div>

    </section>

    <section id="info">
        <div class="img-box"><img class="restaurant-img" src="static/daldongane.jpg" alt=""></div>
        <div class="rating-box"><span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
        <div class="text-box"></div>

    </section>
</body>