<html lang="en">

<head>
  <meta charset="utf-8">

  <title>FlexiQueue</title>

  <script src="index.js"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/index.css">


</head>

<body>
  <header id="navbar">
    <ul>
      <li id="home">FlexiQueue</li>
      <li id="search">
        <input type="text" placeholder="Enter a restaurant"></input>
      </li>
      <li id="login">Login</li>
      <li id="signup">Sign Up</li>
    </ul>
  </header>

  <section id="landing">
    <div>
      <h1>Need a seat? We got you</h1>
    </div>
  </section>

</body>

</html>