<html lang="en">

<head>
  <meta charset="utf-8">

  <title>FlexiQueue</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/index.css">


</head>

<body>
  <header>
    <ul>
      <li id="home">FlexiQueue</li>
      <li id="search">
        <div><span>Enter a restaurant</span></div>
      </li>
      <li id="login">Login</li>
      <li id="signup">Sign Up</li>
    </ul>

  </header>

  <section>

  </section>
  <footer>

  </footer>
</body>

</html>