<html lang="en">

<head>
  <meta charset="utf-8">

  <title>FlexiQueue</title>

  <script src="NWHacks-2021/index.js"></script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
  <header id="navbar" class="content">
    <ul>
      <li id="home">FlexiQueue</li>
      <li id="search">
        <input type="text" placeholder="Enter a restaurant"></input>
      </li>
      <li id="login">Login</li>
      <li id="signup">Sign Up</li>
    </ul>
  </header>

  <section id="landing">
    <div>
      <h1>Need a seat? We got you</h1>
      <div id="landing-container">
        <input type="text" placeholder="Enter a restaurant"></input>
        <select id="time" name="Reservation Time">
          <option value="">8am</option>
          <option value="">9am</option>
          <option value="">10am</option>
          <option value="">11am</option>

          <option value="">12pm</option>
          <option value="">1pm</option>
          <option value="">2pm</option>
          <option value="">3pm</option>

          <option value="">4pm</option>
          <option value="">5pm</option>
          <option value="">6pm</option>
          <option value="">7pm</option>
        </select>
        <button id="reserve-btn" type="button" onclick="alert('Redirecting')">Reserve</button>


      </div>

    </div>
  </section>

  <section id="top-picks">
    <span>
      <h1>Top picks</h1>
    </span>
    <div id="item-container">
      <div id="child-item-1" class="child-item"><a href=""><img class="restaurant-img" src="static/daldongane.jpg"
            alt=""></a>
        <div class="rating-box"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <a href="">
          <p>Daldongnae KBBQ</p>
        </a>
      </div>
      <div id="child-item-2" class="child-item"><a href=""><img class="restaurant-img" src="static/beijing.jpg"
            alt=""></a>
        <div class="rating-box"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
        </div>
        <a href="">
          <p>Beijing Hotpot</p>
        </a>
      </div>
      <div id="child-item-3" class="child-item"><a href=""><img class="restaurant-img" src="static/kinka.jpg"
            alt=""></a>
        <div class="rating-box"><span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star "></span>
        </div>
        <a href="">
          <p>Kinka Izakaya</p>
        </a>
      </div>

    </div>

  </section>

</body>



</html>