<html>

<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header id="navbar">
        <ul>
            <li id="home"><a href="index">FlexiQueue</a></li>
            <li id="search">
                <input type="text" placeholder="Enter a restaurant"></input>
            </li>
            <li id="login"><a href="login">Login</a></li>
            <li id="signup"><a href="signup">Sign Up</a></li>
        </ul>
    </header>

    <div class="master">
        <div class="container">
            <h1>Register</h1>
            <br>
            <!-- Create signup form here -->
            <form action="" method="post">

            </form>



        </div>
    </div>
</body>

</html>